.authButton {
  background-color: var(--mantine-color-blue-9);
  height: 50px;
  margin-top: 10px;
  color: var(--mantine-color-white);
}

.authButton:hover {
  background-color: var(--mantine-color-blue-8);
}

.authButton[data-disabled] {
  background-color: var(--mantine-color-blue-2);
  color: var(--mantine-color-white);
  opacity: 1;
}

.inputErrorWrapper {
  border: 1px solid var(--mantine-color-red-9);
  border-radius: var(--mantine-radius-xl);
}

.inputError {
  color: var(--mantine-color-red-9);
  font-size: var(--mantine-font-size-sm);
  margin-top: 5px;
}

.inputField {
  height: 50px;
  box-shadow: var(--mantine-shadow-sm);
  border: 1px solid var(--mantine-color-gray-2);
}
